/* General Styles for Experience Section */
.experience-section {
  padding: 40px 20px;
  color: #fff;
  overflow: hidden;
  margin: 5px;
  width: auto;

  margin: 0 auto;
  text-align: center;
  background-color: #343a40;
}

.experience-section h2 {
  font-size: 2.5em;
  margin-bottom: 20px;
  color: orangered;
}

/* Timeline Styles */
.timeline-container {
  position: relative;
  margin-top: 40px;
}

.timeline {
  display: flex;
  flex-direction: column;
  position: relative;
}

.timeline-track {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  height: 4px;
  background: #ddd;
}

.timeline-section {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  margin-top: 40px;
}

.timeline-item {
  position: relative;
  width: 200px;
  text-align: center;
  padding: 10px;
  box-sizing: border-box;
}

.timeline-date {
  font-size: 0.9em;
  color: #f1f1f1;
  margin-bottom: 10px;
}

.timeline-content {
  background: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 10px 15px;
  position: relative;
  z-index: 1;
  transition: transform 0.3s, box-shadow 0.3s;
}

.timeline-content h3 {
  font-size: 1.2em;
  margin-bottom: 5px;
  color: #333;
}

.timeline-content p {
  margin: 0;
  color: #666;
}



.timeline-item:hover .timeline-content {
  transform: translateY(-10px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

/* Dark Mode Styles */
.hero.dark .timeline-track {
  background: #555;
}

.hero.dark .timeline-item::before {
  background: #444;
  border-color: #333;
}

.hero.dark .timeline-content {
  background: #444;
  border-color: #555;
}

.hero.dark .timeline-content h3,
.hero.dark .timeline-content p {
  color: #fff;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .timeline-section {
    flex-direction: column;
    align-items: center;
  }

  .timeline-item {
    width: 100%;
    margin-bottom: 20px;
  }

  .timeline-item::before {
    left: 10%;
  }
}
